<?xml version="1.0" encoding="UTF-8"?>
<phpunit
     bootstrap="vendor/autoload.php"
     backupGlobals="false"
     backupStaticAttributes="false"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="true"
     stopOnFailure="false"
     syntaxCheck="false">

    <testsuite>
        <directory suffix="Integration.php">tests/</directory>
    </testsuite>

    <testsuite name="PHP_Client_Unit_Test_1_7">
        <directory suffix="Integration.php">tests/Common/Api/*</directory>
        <directory suffix="Integration.php">tests/v1_7/Api/*</directory>
    </testsuite>

    <testsuite name="PHP_Client_Unit_Test_1_8">
        <directory suffix="Integration.php">tests/Common/Api/*</directory>
        <directory suffix="Integration.php">tests/v1_8/Api/*</directory>
    </testsuite>

</phpunit>
