<?xml version="1.0" encoding="UTF-8"?>
<phpunit
     bootstrap="vendor/autoload.php"
     backupGlobals="false"
     backupStaticAttributes="false"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="true"
     stopOnFailure="false"
     syntaxCheck="false">

    <testsuite name="Api_Client_Integration_Test">
        <directory suffix="Integration.php">tests/integration</directory>
    </testsuite>
</phpunit>
